@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap");
.footer__parrafos p {
  text-align: center;
  color: #572002;
  font-size: 30px;
  padding: 10px;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(#ecd3bf, #e2a776); }

.header {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  font-family: "Barlow", sans-serif;
  position: sticky !important;
  top: 0px !important;
  z-index: 1 !important;
  line-height: 1.5 !important; }
  .header__nav {
    flex-grow: 0 !important;
    margin-right: 130px; }
  .header__logo {
    animation: logo 1s linear 0s 1 normal forwards; }
    .header__logo img {
      width: 140px !important;
      margin-left: 100px;
      opacity: .8; }

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .header__boton {
    background-color: #57200285;
    margin-right: 40px !important;
    color: transparent;
    animation: menu 1s linear 0s 1 normal forwards; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .header__ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #572002d7;
    padding: 3px;
    margin-bottom: 0 !important;
    border-radius: 10px;
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.726);
    animation: nav 1s linear 0s 1 normal forwards; }

@keyframes nav {
  0% {
    opacity: 0;
    transform: translateY(-250px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    .header__ul--active {
      color: white !important; }
    .header__ul li {
      margin: 0 10px !important; }
      .header__ul li a {
        color: rgba(255, 255, 255, 0.63);
        font-weight: 600 !important;
        text-decoration: none;
        font-size: 1.25rem !important;
        transition: .5s ease; }
        .header__ul li a:hover {
          color: white;
          font-size: 1.3125rem !important; }

@media (max-width: 1024px) {
  .header__nav {
    margin-right: 30px !important; }
  .header__logo img {
    width: 100px !important;
    margin-left: 30px !important; }
  .header__ul li {
    margin: 0 5px !important; } }

@media (max-width: 767px) {
  .header__logo img {
    margin-left: 0; }
  .header__ul {
    animation: none; } }

@media (max-width: 680px) {
  .header__nav {
    margin-right: 0 !important; }
  .header__logo img {
    width: 90px !important;
    margin-left: 0; }
  .header__ul {
    width: 100%;
    animation: none;
    align-content: space-around;
    align-items: center; } }

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  min-height: 80vh; }
  .mainIndex__princ {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
    padding: 10px; }
    .mainIndex__princ img {
      width: 400px;
      margin: 10px;
      border-radius: 30px;
      box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.979);
      animation: foto-pastelera 3s ease 0s 1 normal forwards; }
  .mainIndex__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #572002;
    text-align: center;
    margin: 15px 5px;
    padding: 30px; }
    .mainIndex__texto h1 {
      font-size: 6.875rem !important;
      font-weight: bolder;
      font-family: "Dancing Script", cursive !important; }
    .mainIndex__texto p {
      font-size: 2.5rem;
      color: #572002;
      margin-top: 20px; }
  .mainIndex__container {
    z-index: 0; }

@media (max-width: 680px) {
  .mainIndex__princ {
    flex-flow: column; }
    .mainIndex__princ img {
      width: 275px; }
  .mainIndex__texto h1 {
    font-size: 3.125rem !important;
    text-align: center; }
  .mainIndex__texto p {
    font-size: 1.5625rem;
    text-align: center; } }

.mainSobreMi {
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  min-height: 80vh; }
  .mainSobreMi__card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 15px 5px;
    padding: 10px; }
    .mainSobreMi__card img {
      width: 400px;
      margin: 10px;
      border-radius: 30px;
      box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966);
      animation: foto-pastelera 3s ease 0s 1 normal forwards; }
  .mainSobreMi__titulo {
    display: flex;
    flex-direction: column; }
    .mainSobreMi__titulo h1 {
      text-align: center;
      padding: 15px;
      color: #572002;
      font-family: "Dancing Script", cursive !important;
      font-size: 3.4375rem !important;
      font-weight: 600 !important;
      margin: 15px 5px; }
    .mainSobreMi__titulo p {
      text-align: center;
      padding: 15px;
      color: #572002;
      font-size: 2.0625rem;
      margin: 15px 5px; }
  .mainSobreMi__videos {
    display: flex;
    flex-direction: column; }
  .mainSobreMi__vtitulo {
    text-align: center;
    padding: 15px;
    color: #572002;
    font-size: 1.0625rem;
    margin: 15px 5px; }
    .mainSobreMi__vtitulo h2 {
      font-weight: 600 !important; }
  .mainSobreMi__iframe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    .mainSobreMi__iframe iframe {
      margin: 10px; }

@media (max-width: 769px) {
  .mainSobreMi__card {
    flex-direction: column; } }

@media (max-width: 680px) {
  .mainSobreMi__card {
    flex-direction: column; }
    .mainSobreMi__card img {
      width: 275px; }
  .mainSobreMi__titulo h1 {
    font-size: 2.125rem !important;
    margin-top: 30px; }
  .mainSobreMi__titulo p {
    font-size: 1.25rem; }
  .mainSobreMi__vtitulo h2 {
    font-size: 1.25rem; } }

.mainProductos {
  font-family: "Barlow", sans-serif;
  min-height: 80vh; }
  .mainProductos h1 {
    padding: 15px;
    color: #572002;
    font-weight: 600 !important;
    font-size: 3.125rem;
    text-align: center;
    margin: 20px; }
  .mainProductos__gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    text-align: center;
    justify-content: center;
    grid-row-gap: 30px; }
  .mainProductos__gridProd {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainProductos__gridProd div {
      overflow: hidden;
      margin: 15px;
      border-radius: 30px;
      box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.973);
      position: relative;
      height: 400px;
      width: 320px; }
      .mainProductos__gridProd div img {
        transition: all 300ms; }
        .mainProductos__gridProd div img:hover {
          transform: scale(1.1); }
    .mainProductos__gridProd h3 {
      margin-top: 30px;
      color: #572002;
      font-weight: 600 !important;
      font-size: 1.5625rem; }
    .mainProductos__gridProd h4 {
      color: #572002;
      font-weight: 600 !important;
      font-size: 1.4375rem;
      margin-bottom: 17px; }
    .mainProductos__gridProd p {
      padding: 10px;
      color: #572002;
      font-size: 1.375rem;
      margin-bottom: 0;
      height: 180px; }
  .mainProductos__btn {
    background-color: #FCE2DB;
    color: #572002;
    font-size: 1.1875rem;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    transition: .5s ease;
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966); }
    .mainProductos__btn:hover {
      font-size: 1.25rem;
      background-color: #572002;
      color: #FCE2DB; }

@media (max-width: 900px) {
  .mainProductos__gridContainer {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 680px) {
  .mainProductos h1 {
    font-size: 1.875rem; }
  .mainProductos__gridContainer {
    grid-template-columns: repeat(1, 1fr); } }

.mainComoComprar {
  font-family: "Barlow", sans-serif;
  color: #572002;
  min-height: 80vh; }
  .mainComoComprar h1 {
    font-weight: 600 !important;
    text-align: center;
    font-size: 3.125rem;
    margin: 40px; }
  .mainComoComprar ol {
    padding-left: 50px; }
  .mainComoComprar li {
    padding: 10px;
    font-size: 1.875rem; }

@media (max-width: 680px) {
  .mainComoComprar h1 {
    font-size: 1.875rem; }
  .mainComoComprar li {
    font-size: 1.25rem; }
  .mainComoComprar ol {
    padding-left: 30px; } }

.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  padding: 15px;
  color: #572002;
  font-family: "Barlow", sans-serif;
  min-height: 80vh; }
  .mainContacto h1 {
    font-size: 3.125rem !important;
    font-weight: 600 !important; }
  .mainContacto__contacto {
    display: flex;
    align-items: center;
    color: #572002;
    font-size: 1.25rem; }
    .mainContacto__contacto form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      margin-right: 80px; }
      .mainContacto__contacto form label {
        padding: 10px;
        color: #572002;
        font-size: 1.5625rem;
        font-weight: 600 !important;
        margin: 5px; }
      .mainContacto__contacto form input {
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #572002;
        text-align: center;
        color: #572002; }
        .mainContacto__contacto form input:focus {
          outline: none; }
      .mainContacto__contacto form textarea {
        resize: none;
        background-color: #5720021a;
        color: #572002;
        border: 2px solid #572002;
        margin: 5px; }
        .mainContacto__contacto form textarea:focus {
          outline: none; }
  .mainContacto__btn {
    background-color: #FCE2DB !important;
    color: #572002;
    font-size: 1.0625rem;
    margin: 20px;
    padding: 10px;
    border: none;
    border-bottom: none !important;
    border-radius: 10px;
    transition: .5s ease;
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.979); }
    .mainContacto__btn:hover {
      font-size: 1.125rem;
      background-color: #572002 !important;
      color: #FCE2DB; }
  .mainContacto__mapa {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #57200234;
    color: #572002;
    font-size: 1.25rem;
    text-align: center;
    margin: 50px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.973); }
    .mainContacto__mapa h2 {
      font-size: 1.875rem;
      font-weight: 600 !important;
      margin-bottom: 25px; }

@media (max-width: 769px) {
  .mainContacto__contacto {
    display: flex;
    flex-direction: column; } }

@media (max-width: 680px) {
  .mainContacto h1 {
    font-size: 1.875rem !important; }
  .mainContacto__contacto {
    display: flex;
    flex-direction: column; }
    .mainContacto__contacto label {
      font-size: 1.25rem !important; }
    .mainContacto__contacto form {
      margin-right: 0px; }
  .mainContacto__mapa {
    width: 320px;
    height: 400px;
    margin: 0; }
    .mainContacto__mapa h2 {
      font-size: 1.25rem !important; }
    .mainContacto__mapa iframe {
      width: 300px;
      height: 300px; } }

.footer {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  color: #572002;
  margin: 30px 5px 0 5px;
  font-family: "Barlow", sans-serif; }
  .footer__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 0; }
    .footer__ul a {
      text-decoration: none;
      background-color: #FCE2DB;
      color: #572002;
      font-size: 1.5625rem;
      padding: 10px;
      margin: 35px;
      border-radius: 10px;
      border: none;
      transition: .5s ease;
      box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966); }
      .footer__ul a:hover {
        text-decoration: none;
        font-size: 1.6875rem;
        background-color: #572002;
        color: #FCE2DB; }
    .footer__ul h3 {
      margin: 10px;
      font-size: 2.1875rem;
      font-weight: 300;
      animation: redesSociales 2s ease 0s infinite normal none; }

@keyframes redesSociales {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
  .footer__parrafos {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px; }
    .footer__parrafos a {
      color: #572002; }
      .footer__parrafos a:hover {
        font-weight: 600; }

@media (max-width: 680px) {
  .footer__ul h3 {
    display: none; }
  .footer__ul a {
    font-size: 1.25rem;
    margin: 15px; }
    .footer__ul a:hover {
      font-size: 1.375rem;
      text-decoration: none; }
  .footer__parrafos p {
    font-size: 1.0625rem; } }
