* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#ecd3bf, #e9b68c);
    font-family: 'Barlow', sans-serif;
}






@import "./secciones/header";
@import "./secciones/footer";

