* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#ecd3bf, #e9b68c);
}



@import "./variables/tipografia";
@import "./variables/_colores";
@import "./variables/extend";
@import "./variables/tamanios";



@import "./secciones/header";
@import "./secciones/mainIndex";
@import "./secciones/mainSobreMi";
@import "./secciones/mainProductos";
@import "./secciones/mainComoComprar";
@import "./secciones/mainContacto";
@import "./secciones/footer";


