%estiloFooterParrafos {
    text-align: center;
    color: $colorLetra;
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

@mixin tamaniosDivImg ($height, $width) {
    height: $height;
    width: $width;
}