.footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    color: $colorLetra;
    margin: 30px 5px 0 5px;
    font-family: $tipografiaBody;

    &__ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 10px;
        padding: 0;

        a {
            text-decoration: none;
            background-color: #FCE2DB;
            color: #572002;
            font-size: 1.5625rem;
            padding: 10px;
            margin: 35px;
            border-radius: 10px;
            border: none;
            transition: .5s ease;
            box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966);

            &:hover {
                text-decoration: none;
                font-size: 1.6875rem;
                background-color: #572002;
                color: #FCE2DB;
            }
        }


        h3 {
            margin: 10px;
            font-size: 2.1875rem;
            font-weight: 300;
            animation: redesSociales 2s ease 0s infinite normal none;

            @keyframes redesSociales {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.2;
                }

                100% {
                    opacity: 1;
                }
            }
        }


    }

    &__parrafos {
        display: flex;
        flex-flow: column wrap;
        margin-top: 10px;

        p {
            @extend %estiloFooterParrafos;
        }

        a {
            color: $colorLetra;

            &:hover {
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 680px) {

    .footer {

        &__ul {
            h3 {
                display: none;
            }

            a {
                font-size: 1.25rem;
                margin: 15px;

                &:hover {
                    font-size: 1.375rem;
                    text-decoration: none;
                
                }
            }

        }

        &__parrafos {

            p {
                font-size: 1.0625rem;
            }
        }
    }
}