.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $tipografiaBody;
    position: sticky;
    top: 0px;
    z-index: 1;
    line-height: 1.5 !important;

    &__logo {
        animation: logo 1s linear 0s 1 normal forwards;
    }

    a img {
        width: 150px !important;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px !important;
        list-style: none;
        background-color: $colorNavbar;
        margin-bottom: 0 !important;
        border-radius: 10px;
        box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.726);
        animation: nav 1s linear 0s 1 normal forwards;

        a {
            color: rgba(255, 255, 255, 0.63);
            font-weight: 600 !important;
            text-decoration: none;
            font-size: 20px !important;
            margin: 25px !important;
            transition: .5s ease;

            &:hover {
                color: white;
                font-size: 21px !important;
            }
        }
    }
}






