.mainProductos {
    font-family: $tipografiaBody;
    min-height: $altoMinimo - 20vh;

    h1 {
        padding: 15px;
        color: $colorLetra;
        font-weight: 600 !important;
        font-size: 50px;
        text-align: center;
        margin: 20px;
    }

    &__gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
        margin: 0 auto;
        padding: 15px;
        align-items: start;
        text-align: center;
        justify-content: center;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    &__gridProd {

        img {
            @include tamaniosImgProd (400px, 310px)
            margin: 15px;
            border-radius: 30px;
            box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.973);
            transition: all 300ms;
            position: relative;

            &:hover {
                transform: scale(1.03);
            }
        }

        h3 {
            margin-top: 27px;
            color: $colorLetra;
            font-weight: 600 !important;
            font-size: 25px;
        }

        h4 {
            color: $colorLetra;
            font-weight: 600 !important;
            font-size: 23px;
            margin-bottom: 17px;
        }

        p {
            padding: 10px;
            color: $colorLetra;
            font-size: 22px;
            margin-bottom: 0;
            height: 185px;
        }
    }

    &__btn {
        background-color: #FCE2DB;
        color: #572002;
        font-size: 19px;
        font-weight: 600;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        transition: .5s ease;
        box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966);

        &:hover {
            font-size: 20px;
            background-color: #572002;
            color: #FCE2DB;
        }
    }
}

@media (max-width: 900px) {
    .mainProductos {
        &__gridContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 680px) {
    .mainProductos {

        h1 {
            font-size: 30px;
        }

        &__gridContainer {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}