.mainProductos {
    font-family: $tipografiaBody;
    min-height: $altoMinimo - 20vh;

    h1 {
        padding: 15px;
        color: $colorLetra;
        font-size: 50px;
        text-align: center;
    }

    &__gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
        margin: 0 auto;
        padding: 15px;
        align-items: start;
        text-align: center;
        justify-content: center;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    &__gridProd {
        img {
            width: 310px;
            height: 400px;
            margin: 15px;
            border-radius: 30px;
            box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.973);
            transition: all 300ms;
            position: relative;

            &:hover {
                transform: scale(1.03);
            }
        }

        h3, p, h4 {
            padding: 10px;
            color: $colorLetra;
            font-size: 25px;
        }
    }
}
