.mainContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    padding: 15px;
    color: $colorLetra;
    font-family: $tipografiaBody;
    min-height: $altoMinimo - 20vh;

    h1 {
        font-size: 3.125rem !important;
        font-weight: 600 !important;
    }

    &__contacto {
        display: flex;
        align-items: center;
        color: $colorLetra;
        font-size: 1.25rem;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            margin-right: 80px;

            label {
                padding: 10px;
                color: $colorLetra;
                font-size: 1.5625rem;
                font-weight: 600 !important;
                margin: 5px;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 3px solid #572002;
                text-align: center;
                color: #572002;

                &:focus {
                    outline: none;
                }
            }

            textarea {
                resize: none;
                background-color: #5720021a;
                color: #572002;
                border: 2px solid #572002;
                margin: 5px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__btn {
        background-color: #FCE2DB !important;
        color: #572002;
        font-size: 1.0625rem;
        margin: 20px;
        padding: 10px;
        border: none;
        border-bottom: none !important;
        border-radius: 10px;
        transition: .5s ease;
        box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.979);

        &:hover {
            font-size: 1.125rem;
            background-color: #572002 !important;
            color: #FCE2DB;
        }
    }

    &__mapa {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #57200234;
        color: $colorLetra;
        font-size: 1.25rem;
        text-align: center;
        margin: 50px;
        padding: 40px;
        border-radius: 30px;
        box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.973);

        h2 {
            font-size: 1.875rem;
            font-weight: 600 !important;
            margin-bottom: 25px;
        }
    }
}



@media (max-width: 769px) {
    .mainContacto {
        &__contacto {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 680px) {
    .mainContacto {

        h1 {
            font-size: 1.875rem !important;
        }

        &__contacto {
            display: flex;
            flex-direction: column;

            label {
                font-size: 1.25rem !important;
            }

            form {
                margin-right: 0px;
            }
        }

        &__mapa {
            width: 320px;
            height: 400px;
            margin: 0;

            h2 {
                font-size: 1.25rem !important;
            }

            iframe {
                width: 300px;
                height: 300px;
            }
        }

    }
}