.mainComoComprar {
    font-family: $tipografiaBody;
    color: $colorLetra;
    min-height: $altoMinimo - 20vh;

    h1 {
        font-weight: 600 !important;
        text-align: center;
        font-size: 50px;
        margin: 40px;
    }

    ol {
        padding-left: 50px;
    }

    li {
        padding: 10px;
        font-size: 30px;
    }
}

@media (max-width: 680px) {
    .mainComoComprar {

        h1 {
        font-size: 30px;
        }

        li {
            font-size: 20px;
        }
    }
}