.mainComoComprar {
    font-family: $tipografiaBody;
    color: $colorLetra;
    min-height: $altoMinimo - 20vh;

    h1 {
        font-weight: 600 !important;
        text-align: center;
        font-size: 3.125rem;
        margin: 40px;
    }

    ol {
        padding-left: 50px;
    }

    li {
        padding: 10px;
        font-size: 1.875rem;
        animation: comocomprar 2s ease 0ms 1 normal forwards;

        @keyframes comocomprar {
            0% {
                opacity: 0;
                transform: rotateY(100deg);
                transform-origin: left;
            }
        
            100% {
                opacity: 1;
                transform: rotateY(0);
                transform-origin: left;
            }
        }
    }
}

@media (max-width: 680px) {
    .mainComoComprar {

        h1 {
        font-size: 1.875rem;
        }

        li {
            font-size: 1.25rem;
        }

        ol {
            padding-left: 30px;
        }
    }
}