.mainSobreMi {
    display: flex;
    flex-direction: column;
    font-family: $tipografiaBody;
    min-height: $altoMinimo - 20vh;

    &__card {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 15px 5px;
        padding: 10px;

        img {
            width: 400px;
            margin: 10px;
            border-radius: 30px;
            box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.966);
            animation: foto-pastelera 3s ease 0s 1 normal forwards;
        }
    }

    &__titulo {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
            padding: 15px;
            color: $colorLetra;
            font-family: $tipografiaH1 !important;
            font-size: 55px !important;
            margin: 15px 5px;
        }

        p {
            text-align: center;
            padding: 15px;
            color: $colorLetra;
            font-size: 33px;
            margin: 15px 5px;
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;
    }

    &__vtitulo {
        text-align: center;
        padding: 15px;
        color: $colorLetra;
        font-size: 17px;
        margin: 15px 5px;
    }

    &__iframe {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        iframe {
            margin: 10px;
        }
    }
}


@media (max-width: 769px) {
    .mainSobreMi {
        &__card {
            flex-direction: column;
        }
    } 
}

@media (max-width: 680px) {
    .mainSobreMi {
        &__card {
            flex-direction: column;

            img {
                width: 275px;
            }
        }

        &__titulo {

            h1 {
                font-size: 34px !important;
            }

            p {
                font-size: 20px;
            }
        }

        &__vtitulo {
            h2 {
                font-size: 20px;
            }
        }
    }
}
